<!-- [START] HTML Breadcrumbs -->
<nav>
	<ul
		id="breadcrumbs"
		class="breadcrumbs flex min-h-7 flex-wrap items-center gap-4"
	>
		<li class="breadcrumbs-item">
			<a class="px-1" href="#">Home</a>
		</li>

		<li class="breadcrumbs-item">
			<a class="px-1" href="#">Nested 1</a>
		</li>

		<li class="breadcrumbs-item">
			<a class="px-1" href="#">Nested 2</a>
		</li>

		<li class="breadcrumbs-item">
			<a class="px-1" href="#">Nested 3</a>
		</li>
	</ul>
</nav>
<!-- [END] HTML Breadcrumbs -->

<!-- CSS -->
<style>
	/* Breadcrumbs */
	.breadcrumbs-item {
		@apply relative hidden rounded-md py-[2px] text-sm font-medium leading-normal text-slate-800 before:absolute before:-left-5 before:top-1/2  before:size-6 before:-translate-y-1/2 before:bg-[url('../img/icons/breadcrumbs-arrow.svg')] first:flex first:pl-4 first:before:hidden first:after:absolute first:after:left-0 first:after:top-1/2 first:after:size-6 first:after:-translate-y-1/2 first:after:bg-[url('../img/icons/breadcrumbs-arrow-reverse.svg')] last:cursor-default hover:bg-slate-100 last:hover:bg-transparent md:flex first:md:pl-0 first:after:md:hidden;
	}
	.breadcrumbs-item:last-child {
		a {
			cursor: default;
		}
	}
</style>
