<!-- [START] HTML Select  -->
<div class="relative">
	<div
		id="select"
		class="flex cursor-pointer items-center gap-4 rounded border bg-white px-3 py-2 transition duration-300 ease-in-out"
	>
		<!-- Select Left icon -->
		<svg
			width="20"
			height="20"
			viewBox="0 0 20 20"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM12.5 7.5C12.5 8.88071 11.3807 10 10 10C8.61929 10 7.5 8.88071 7.5 7.5C7.5 6.11929 8.61929 5 10 5C11.3807 5 12.5 6.11929 12.5 7.5ZM10 12C8.04133 12 6.30187 12.9385 5.20679 14.3904C6.39509 15.687 8.1026 16.5 10 16.5C11.8974 16.5 13.6049 15.687 14.7932 14.3904C13.6981 12.9385 11.9587 12 10 12Z"
				fill="#6D687F"
			/>
		</svg>

		<span id="selected-option" class="text-lightblue">Canada</span>
		<input id="selected-value" type="hidden" />
		<div class="arrow absolute top-1/2 right-3 -translate-y-1/2">
			<svg
				class="transition-transform"
				width="20"
				height="20"
				viewBox="0 0 20 20"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z"
					fill="#6D687F"
				/>
			</svg>
		</div>
	</div>
	<div
		id="options"
		class="absolute z-10 mt-1 hidden min-w-full transform overflow-hidden rounded-md border bg-white shadow-sm transition-all duration-300 ease-in-out"
	>
		<ul class="grid">
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">
				Canada
			</li>
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">
				Germany
			</li>
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">
				USA
			</li>
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">
				France
			</li>
		</ul>
	</div>
</div>
<!-- [END] HTML Select  -->

<!-- [START] JavaScript Select  -->
<script>
	function initializeCustomSelect(selectId, optionsId, selectedOptionId) {
	const customSelect = document.getElementById(selectId)
	const selectedOption = document.getElementById(selectedOptionId)
	const customOptions = document.getElementById(optionsId)
	const options = customOptions.getElementsByClassName('option')

	customSelect.addEventListener('click', () => {
		customOptions.classList.toggle('hidden')
		const arrow = customSelect.querySelector('.arrow svg')
		arrow.style.transform = customOptions.classList.contains('hidden')
			? 'rotate(0deg)'
			: 'rotate(180deg)'
	})

	for (let option of options) {
		option.addEventListener('click', () => {
			selectedOption.innerText = option.innerText
			customOptions.classList.add('hidden')
			const arrow = customSelect.querySelector('.arrow svg')
			arrow.style.transform = 'rotate(0deg)'
		})
	}

	document.addEventListener('click', (event) => {
		const target = event.target
		if (!customSelect.contains(target) && !customOptions.contains(target)) {
			customOptions.classList.add('hidden')
			const arrow = customSelect.querySelector('.arrow svg')
			arrow.style.transform = 'rotate(0deg)'
		}
	})
}
initializeCustomSelect('select', 'options', 'selected-option')
</script>
<!-- [END] JavaScript Select  -->
